* {
    box-sizing: border-box;
}

body,div,ul,li,a,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --sidebar-color: #fff;
    --dark-color: #f62;
    background-color: var(--bg-color);
}

/* --- SIDEBAR STYLES --- */

.sidebar {
    background-color: var(--sidebar-color);
}